.pt {
    font-family: "pt-serif", serif;
    font-weight: 400;
    font-style: normal;

    .bold {
    font-weight: 700;
    }
}

.gill {
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 500;
    font-style: normal;

    .bold {
    font-weight: 700;
    }

    .italic {
        font-style: italic;
    }
    .sbi {
        font-weight: 600;
        font-style: italic;
    }
    .light {
        font-weight: 300;
    }
    .li {
        font-weight: 300;
        font-style: italic;
    }
}