    nav {
        width: 980px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        #nav-holder {
        position: fixed;
        z-index: 3;
        height: 80px;
        width: 980px;
        // background-color: rgba($color: #687, $alpha: 0.2);
        display: flex;
        align-items: center;
        justify-content: space-between;
       margin-top: 10px;
       left: 0;
       right: 0;
       margin-left: auto;
       margin-right: auto;
       border-bottom: solid 2px #000;
    
    .logo {
        width: 42px;
        height: 42px;
        // padding-left: 10px;
    }

    .nav-links {
        height: auto;
        width: 359px;
        display: flex;
   
        justify-content: space-between;
        // left: 40px;
        right: 0;
        margin-left: 590px;
        margin-right: auto;
        a {
       color: #ffffff;
       text-decoration: none;
       font-family: "gill-sans-nova";
       font-size: 15px;
        }
       .otherLinks {
     
        height: auto;
        width: inherit;
        display: flex;
        justify-content: space-between;
        margin-left: 390px;
        margin-right: 60px;
        // left: -10px;
        right: 0;
        a {
          color: #000000 !important;
          text-decoration: none;
          font-family: "gill-sans-nova";
          font-size: 15px;
          height: auto;
          margin-right: 60px;
        }
      }
      

       .navLines {
        font-weight: 300;
        margin-top: 5px;
        padding-left: 11px;
        transform: translate(30deg , 0deg);
        width: 225px;
        
                }    
            }
        }
    }